<div class="navbar-lewagon">

    <%= link_to root_path do  %>
    <%= image_tag "cocktaillogo.jpg", alt: "alttext", class:"avatar"%>
    <% end %>

  <!-- displayed on laptops -->


  <!-- displayed on phone / tablet -->
  <div class="navbar-lewagon-actions d-block d-sm-none">
    <div class="add-cock">
      <%= link_to new_cocktail_path do %>
        <i class="fas fa-beer"></i>
      <% end %>
    </div>
  </div>
</div>
