html,
body,
.wrappercock {
  height: 100%;
}

body {
  background: #E2E9ED;
}

.wrappercock {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 150px 0px;
  h1 {
    font-family: 'Coiny', cursive;
    position: absolute;
    z-index: 1;
    right: 412px;
  }
}

.cocktail {
  position: relative;
  width: 300px;
  height: 300px;
  border: 20px solid #fff;
  border-radius: 50%;

}
.cocktail:before {
  position: absolute;
  z-index: -2;
  width: 0;
  height: 0;
  content: '';
  border-top: 150px solid #cfe7f5;
  border-right: 150px solid #e2e9ed;
  border-bottom: 150px solid #cfe7f5;
  border-left: 150px solid #cfe7f5;
  border-radius: 150px;
}
.cocktail:after {
  position: absolute;
  z-index: -1;
  top: 70px;
  right: 70px;
  bottom: 70px;
  left: 70px;
  content: '';
  border-radius: 50%;
  background: #5db8b6;
}
.cocktail .liquid {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  -webkit-transform: translatex(-15px);
          transform: translatex(-15px);
  -webkit-animation: liquid 1.5s ease-in-out infinite;
          animation: liquid 1.5s ease-in-out infinite;
  border-radius: 50%;
  background: rgba(139, 233, 193, 0.6);
}
.cocktail .straw {
  position: absolute;
  z-index: 1;
  bottom: 70px;
  left: 50%;
  width: 20px;
  height: 0;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  border-top: 300px solid #ff7647;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.cocktail .straw:before {
  position: absolute;
  top: -310px;
  right: 0;
  left: 0;
  height: 20px;
  content: '';
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border-radius: 50%;
  background: #cd4727;
}
.cocktail .straw:after {
  position: absolute;
  top: -10px;
  right: 0;
  left: 0;
  height: 20px;
  content: '';
  border-radius: 50%;
  background: #ff7647;
}
.cocktail .straw-surface {
  position: absolute;
  z-index: 5;
  bottom: 240px;
  left: 50%;
  width: 25px;
  height: 0;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  border-top: 100px solid #ff7647;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}
.cocktail .straw-surface:after {
  position: absolute;
  top: -10px;
  right: 0;
  left: 0;
  height: 20px;
  content: '';
  border-radius: 50%;
  background: #ff7647;
}
.cocktail .ice-cubes {
  -webkit-transform-origin: 47% 65%;
          transform-origin: 47% 65%;
  -webkit-animation: ice-cubes 8s ease-in-out infinite;
          animation: ice-cubes 8s ease-in-out infinite;
}
.cocktail .ice-cube {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background: #fff;
}
.cocktail .ice-cube.ice-cube-1 {
  -webkit-transform: translate(100px, 70px) rotate(10deg);
          transform: translate(100px, 70px) rotate(10deg);
  background: #bcdbce;
}
.cocktail .ice-cube.ice-cube-2 {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(160px, 100px) rotate(30deg);
          transform: translate(160px, 100px) rotate(30deg);
}
.cocktail .ice-cube.ice-cube-3 {
  -webkit-transform: translate(40px, 0) rotate(-30deg);
          transform: translate(40px, 0) rotate(-30deg);
}
.cocktail .leaves {
  -webkit-transform-origin: 46% -42%;
          transform-origin: 46% -42%;
  -webkit-animation: ice-cubes 12s ease-in-out infinite;
          animation: ice-cubes 12s ease-in-out infinite;
}
.cocktail .leave {
  width: 100px;
  height: 70px;
  border-radius: 100px 0;
  background: #19ab87;
}
.cocktail .leave:before {
  position: absolute;
  width: 1px;
  height: 115px;
  content: '';
  -webkit-transform: rotate(55deg) translate(10px, -53px);
          transform: rotate(55deg) translate(10px, -53px);
  background: #3fc295;
}
.cocktail .leave.leave-1 {
  -webkit-transform: translate(40px, -160px) rotate(-30deg);
          transform: translate(40px, -160px) rotate(-30deg);
}
.cocktail .leave.leave-2 {
  -webkit-transform: translate(160px, -180px) rotate(30deg);
          transform: translate(160px, -180px) rotate(30deg);
}
.cocktail .leave.leave-3 {
  position: relative;
  z-index: 4;
  -webkit-transform: translate(70px, -190px) rotate(80deg);
          transform: translate(70px, -190px) rotate(80deg);
}
.cocktail .lemon-slice {
  position: absolute;
  z-index: 1;
  width: 125px;
  height: 65px;
  -webkit-transform: translate(146px, -178px) rotate(45deg);
          transform: translate(146px, -178px) rotate(45deg);
  -webkit-animation: lemon 3s ease-in-out infinite;
          animation: lemon 3s ease-in-out infinite;
  border: 10px solid #ecf9c0;
  border-bottom: 0;
  border-radius: 100px 100px 0 0;
  background: #cff063;
}
.cocktail .lemon-slice:before, .cocktail .lemon-slice:after {
  position: absolute;
  width: 30px;
  height: 20px;
  content: '';
  border-radius: 50px 0;
  background: #aad815;
}
.cocktail .lemon-slice:after {
  top: 30px;
  left: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.cocktail .lemon-slice:before {
  top: 30px;
  right: 30px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.cocktail .shadow {
  position: absolute;
  z-index: -10;
  top: 50%;
  width: 400px;
  height: 340px;
  -webkit-transform: translatey(-50%) rotate(45deg);
          transform: translatey(-50%) rotate(45deg);
  -webkit-transform-origin: 20% 100%;
          transform-origin: 20% 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) -60%, rgba(0, 0, 0, 0));
}

@-webkit-keyframes liquid {
  from {
    -webkit-transform: translatex(-15px);
            transform: translatex(-15px);
  }
  50% {
    -webkit-transform: translatex(15px);
            transform: translatex(15px);
  }
  to {
    -webkit-transform: translatex(-15px);
            transform: translatex(-15px);
  }
}

@keyframes liquid {
  from {
    -webkit-transform: translatex(-15px);
            transform: translatex(-15px);
  }
  50% {
    -webkit-transform: translatex(15px);
            transform: translatex(15px);
  }
  to {
    -webkit-transform: translatex(-15px);
            transform: translatex(-15px);
  }
}
@-webkit-keyframes ice-cubes {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes ice-cubes {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes lemon {
  from {
    -webkit-transform: translate(146px, -178px) rotate(45deg);
            transform: translate(146px, -178px) rotate(45deg);
  }
  50% {
    -webkit-transform: translate(146px, -178px) rotate(60deg);
            transform: translate(146px, -178px) rotate(60deg);
  }
  to {
    -webkit-transform: translate(146px, -178px) rotate(45deg);
            transform: translate(146px, -178px) rotate(45deg);
  }
}
@keyframes lemon {
  from {
    -webkit-transform: translate(146px, -178px) rotate(45deg);
            transform: translate(146px, -178px) rotate(45deg);
  }
  50% {
    -webkit-transform: translate(146px, -178px) rotate(60deg);
            transform: translate(146px, -178px) rotate(60deg);
  }
  to {
    -webkit-transform: translate(146px, -178px) rotate(45deg);
            transform: translate(146px, -178px) rotate(45deg);
  }
}
